{% extends "ddmaniBlogBundle::layout.html.twig" %}

{% block body -%}
    <h1>Posts list backoffice</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for entity in entities %}
            <tr>
                <td>{{ entity.postTitle }}</td>
                <td>{{ entity.postAuthor }}</td>
                <td>{{ entity.postCategory.categorieName }}</td>
                <td>{% if entity.postDateModify %}{{ entity.postDateModify|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" href="{{ path('ddmani_blog_post', { 'id': entity.id }) }}">Show</a>
                        <a class="btn btn-success actionslink" href="{{ path('post_edit', { 'id': entity.id }) }}">Edit</a>
                        <a class="btn btn-danger postdeletelink" href="{{ path('post_delete', { 'id': entity.id }) }}">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success actionslink" href="{{ path('post_new') }}">Create a new entry</a>
    <div id="PagesLinks"></div>
    <script language="javascript">


    $(document).ready(function(){ 
        for(var x=0 , page = {{page}} , button = '' , PageMax=3, PageNumbers=(Math.round({{postcount}}/{{ResultsPerPage}}));x<PageNumbers && x<PageMax;x++){
 
            if(page==(x+1)){
                button = 'btn btn-success';
                currentpage = 'id="currentpage"';
            }
            else{
                button = 'btn btn-info';
                currentpage = '';
            }
            if(x===0){
                $('#PagesLinks').html('Page: ');
                ((page-1)!=0)?$('#PagesLinks').append('<a '+currentpage+' rel="'+(page-1)+'" class="btn btn-info changepage" href="'+"{{ path('post_admin') }}/"+(page-1)+'"> < </a>'):'';
                $('#PagesLinks').append('<a '+currentpage+' rel="'+(x+1)+'" class="btn btn-'+button+' changepage" href="'+"{{ path('post_admin', { 'page': '1' }) }}"+'">'+(x+1)+'</a>');
            }
            else{
                $('#PagesLinks').append('<a '+currentpage+' rel="'+(x+1)+'" class="btn btn-'+button+' changepage" href="'+"{{ path('post_admin') }}/"+(x+1)+'">'+(x+1)+'</a>');
                (x==PageMax-1 && page>PageMax)?$('#PagesLinks').append('<a '+currentpage+' rel="'+page+'" class="btn btn-success changepage" href="'+"{{ path('post_admin') }}/"+page+'">'+page+'</a>'):'';
                (x==PageMax-1 && page!=PageNumbers)?$('#PagesLinks').append('<a '+currentpage+' rel="'+(page+1)+'" class="btn btn-info changepage" href="'+"{{ path('post_admin') }}/"+(page+1)+'"> > </a>'):'';
                (x==PageMax-1)?$('#PagesLinks').append('<a '+currentpage+' rel="'+PageNumbers+'" class="btn btn-info changepage" href="'+"{{ path('post_admin') }}/"+PageNumbers+'"> >> </a>'):'';
            }
            
        }
        $(".changepage").on("click",function(){
            refreshpage=$(this).attr('rel');
            (refreshpage==1)?urlcomplement='':urlcomplement='/'+refreshpage;

            $.ajax({
                url: '{{ path("post_admin") }}'+urlcomplement, 
                type: 'GET', 
                data: $(this).serialize(), 
                cache: false,
                success : function(code_html, statut){ 
                    $('#postlist').html(code_html);
                    if($("#actioncontent")){
                        $('#actioncontent').html('');
                    }
                },
                error : function(resultat, statut, erreur){
                    alert("erreur");
                }
            });
            return false;
        });
        $(".postdeletelink").on("click",function(){
            $.msgBox({
                title: "Are You Sure",
                content: "Would you delete this entry?",
                type: "confirm",
                buttons: [{ value: "Yes" }, { value: "No" }, { value: "Cancel"}],
                success: function (result) {
                    if (result == "Yes") {
                        PostDelete(url,method,data);
                    }
                }
            });
            var url = $(this).attr('href');
            var data = $(this).serialize();
            var method = $(this).attr('method');
            
            return false; 
         });
         function PostDelete(url,method,data){
            $.ajax({
                url: url, 
                type: method, 
                data: data, 
                cache: false,
                success : function(code_html, statut){ 
                    $.ajax({
                        url: '{{ path("post_admin") }}', 
                        type: 'GET', 
                        data: $(this).serialize(), 
                        cache: false,
                        success : function(code_html, statut){ 
                            $('#postlist').html(code_html);
                        },
                        error : function(resultat, statut, erreur){
                            alert("erreur");
                        }
                    });
                },
                error : function(resultat, statut, erreur){
                    alert("erreur");
                }
             });
        }
    });
    </script>
    {% endblock %}
