{% extends "ddmaniBlogBundle::layout.html.twig" %}

{% block body -%}
    <h1>Posts</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Posttitle</th>
                <td>{{ entity.postTitle }}</td>
            </tr>
            <tr>
                <th>Postcontent</th>
                <td>{{ entity.postContent }}</td>
            </tr>
            <tr>
                <th>Postauthor</th>
                <td>{{ entity.postAuthor }}</td>
            </tr>
            <tr>
                <th>Postdatecreate</th>
                <td>{{ entity.postDateCreate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Postdatemodify</th>
                <td>{{ entity.postDateModify|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Poststatus</th>
                <td>{{ entity.postStatus }}</td>
            </tr>
            <tr>
                <th>Postcommentcount</th>
                <td>{{ entity.postCommentCount }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
